@import 'reset';
@import 'variable';
@import "component/form";
@import "component/image";
@import "component/utility";
@import "component/pagination";
@import "component/table";
@import "component/display";
@import "component/grid/grid";
@import "component/input";

@import "module/admin_form";
@import "module/result_printer";

