
.cont{
    margin-top:134px ;
    margin-right:100px ;

}
.borderr{ border:solid red 1px; }

.slider{
    padding: 0;
    color:green;
}

.margin-top-clean{
    margin-top:134px ;
}


.euro-search input[type="text"] {
    height: 40px;
    border-radius: 0px;
    border-left:solid 3px #c55ac0;
    border-top:solid 3px #c55ac0;
    border-bottom:solid 3px #c55ac0;
    border-right:none;
}
.euro-search input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 2px rgba(197, 90, 192, 1);
}
.euro-search .input-group-addon{
    color:white;
    background-color: #c55ac0;
    border-radius: 0px;
    border-right:solid 3px #c55ac0;
    border-top:solid 3px #c55ac0;
    border-bottom:solid 3px #c55ac0;
    border-left:none;
}

.infotel{
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: solid 1px #f4f4f4;
}



.video-container {
    position: relative;
    padding-bottom: 50%;

    margin-top: 50px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 700px){
    .video-container {
        position: relative;
        padding-bottom: 47%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
}
.item-wrapper{
    padding: 2px;
}
.item-filter{
    min-height: 80px;
    background-color: #F7DFEB;
}

.caption{
    padding-bottom: 2px;
}


