.panel-g {
  font-family: 'Lato', sans-serif;
  //border: solid 1px lightgrey;

  a {
    color: #3F3F3F;
  }

  .first-panel- {
    background-color: white;
    padding-top: 5px;
    //border: solid 1px lightgrey;
    &:hover {
      background-color: $blue;
      .panel-h {
        .panel-t {
          padding: 5px;
          i.fa-stack-2x {
            color: $blue;
          }

          .badge-euro {
            background-color: lighten($blue, 10%);
          }
          background-color: $blue;
          i.fa-stack-2x {
            color: lighten($blue, 10%);
          }
          i.fa-stack-1x {
            color: white;
          }
          a {
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }

      }

    }

    .panel-h {
      .panel-t {
        padding: 5px;
        i.fa-stack-2x {
          color: lighten(#3F3F3F,10%);
        }

        &:hover {
          .badge-euro {
            background-color: lighten($blue, 10%);
          }
          background-color: $blue;
          i.fa-stack-2x {
            color: lighten($blue, 10%);
          }
          i.fa-stack-1x {
            color: white;
          }
          a {
            &:hover {

            }
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }

      }

    }

  }
  .panel-:last-child{
    border-bottom: solid 3px $blue;
  }
  .panel- {

    font-family: 'Lato', sans-serif;
    background-color: white;
    //border: solid 1px lightgrey;
    border-top: solid 1px lighten($blue,30%);
    &:hover {
      background-color: $blue;
      .panel-h {
        .panel-t {
          i.fa-stack-2x {
            color: $blue;
          }

          .badge-euro {
            background-color: lighten($blue, 10%);
          }
          background-color: $blue;
          i.fa-stack-2x {
            color: lighten($blue, 10%);
          }
          i.fa-stack-1x {
            color: white;
          }
          a {
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }

      }

    }

    .panel-h {
      .panel-t {
        padding: 5px;
        i.fa-stack-2x {
          color: lighten(#3F3F3F,10%);
        }

        &:hover {
          .badge-euro {
            background-color: lighten($blue, 10%);
          }
          background-color: $blue;
          i.fa-stack-2x {
            color: lighten($blue, 10%);
          }
          i.fa-stack-1x {
            color: white;
          }
          a {
            &:hover {

            }
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }

      }

    }
  }
}

.first-panel- {
  font-family: 'Lato', sans-serif;
  :hover {
    .panel-h {
      .panel-t {
        .euro-stack {
          color: red;
        }
      }
    }
  }
}

.panel-b {
  font-family: 'Lato', sans-serif;
  padding: 7px 7px 7px 20px;
  margin: 0;
  background-color: white;

}


.second-nested-panel-{
  &:hover{
    .second-nested-panel-h{
      .second-nested-panel-t{
        a{
          color:$blue;
        }
      }
    }
  }
}

.second-nested-panel-h{
  padding: 8px 3px 3px 3px;
  :hover{
    color:$blue;
  }
}
.second-nested-panel-b{
  padding: 0px 10px 10px 10px ;
  border-bottom: solid 3px lighten($blue,20%)
}

.bb3pink{
  border-bottom: solid 3px lighten($blue,20%)

}

#image_configurateur{
  img{
    width: 80%;
    max-width: 120px;
    height: auto;
    &:hover{
      border:dashed 1px lighten($blue,25%);
    }
  }
}

