
.face {
   border: 1px solid #555;
}
.card-wrapper{
  width: 100%;
  height: 250px;
  z-index: 800;
  a{
    &:hover{
      .card-euro{
        .card-content{
          .card-overlay{
            position: absolute;
            z-index: 999;
            bottom: 0;
            height: 75px;
            background-color: $pink;
            opacity: 0.8;
            width: 100%;
            transition: background-color .4s;
          }
          h3{
            //border-bottom:dashed 1px whitesmoke;
          }
        }
      }
    }
    .card-euro{
      width: 100%;
      height: 100%;
      position: relative;
      .card-content{

        position: absolute;
        width: 100%;
        height: 100%;

        overflow: hidden;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        h3{
          padding-left: 8px;

          position: absolute;
          z-index: 2;
          bottom: 5px;
          font-size: 1.5em;
          color:white;
          text-transform: uppercase;
          font-weight: bolder;
          text-decoration: none;
          border: transparent;
        }

        .card-overlay{
          position: absolute;
          z-index: 1;
          bottom: 0;
          height: 75px;
          background-color: $dgray;
          opacity: 0.8;
          width: 100%;
        }


      }
    }
  }
}


