
.face {
   border: 1px solid #555;
}
.card-wrapper{
  margin-top: 100px;
  border-top:solid 4px $blue;
  width: 100%;
  height: 250px;
  z-index: 800;
  a{


    .card-euro{
      width: 100%;
      height: 100%;
      position: relative;

      .card-content{

        position: absolute;
        width: 100%;
        height: 100%;

        overflow: hidden;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;



        h3{
          padding-left: 8px;
          font-size:1.2em;
          position: absolute;
          z-index: 5;
          bottom: 28px;
          color:white;
          text-transform: uppercase;
          font-weight: bolder;
          text-decoration: none;
          border: transparent;
        }

        h4{
          font-size:1em;
          b{ border-bottom:dashed 2px white; }
          padding-left:10px;
          position: absolute;
          z-index: 5;
          bottom: 10px;
          color:white;
          text-decoration: none;
          border: transparent;
        }

        .card-overlay{

          position: absolute;
          z-index: 1;
          bottom: 0;
          height: 75px;
          background-color: $blue;
          opacity: 1;
          width: 100%;
        }


      }
    }
  }
}


