@media (min-width: 1200px) and (max-width: 1440px) {

  input[type='text'] {
    &.euro-search {
      font-size: 0.70em;

    }
  }

  .configurator{
    padding-top: 15px;
    padding-left: 4px;
    background-color: $blue;
    i{
      display: none;
    }
    h3{
      font-size: 0.8em;
      color : white;
      border:none;
      font-weight: bolder;
    }
  }

  .first-panel-{
    .panel-h{
      .panel-t{
        h4{
          text-align: left;
          margin-left: -12px;
          padding:15px 0 10px 0px ;
          span{
            display: none;
          }
        }
      }
    }
  }

  .panel-{
    .panel-h{
      .panel-t{
        h4{
          text-align: left;
          margin-left: -12px;
          padding:15px 0 10px 0px ;
          span{
            display: none;
          }
        }
      }
    }
  }

}