.center {
  text-align: center;
}

.paginate {
  position: absolute;
  z-index: 999;
  bottom:50px;
  right:100px;
  display: inline-block;
  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  a.active{
    background-color: indianred;
    color: white;
    border: 1px solid indianred;
  }
}

.paginate a:hover:not(.active) {background-color: #ddd;}