
input[type='text'] {
  &.euro-search {
    font-size: 0.85em;
    font-weight: bolder;
    height: 40px;
    border-radius: 0px;
    border-left: solid 3px $blue;
    border-top: solid 3px $blue;
    border-bottom: solid 3px $blue;
    border-right: none;
  }
}

input[type=text]:focus, textarea:focus {
  &.euro-search {
    box-shadow: 0 0 2px rgba(56, 177, 255, 1);
  }
}

#basic-addon1{
  color: white;
  background-color: $blue;
  border-radius: 0px;
  border-right: solid 3px $blue;
  border-top: solid 3px $blue;
  border-bottom: solid 3px $blue;
  border-left: none;
}